/*navbar*/
.navbar-nav, form{
  transition: all 2s;
  pointer-events: auto;
}
.navbar{
  background-color:#252525;
  height:100vh;
  transition:height 2s;
  width:100vw;
  pointer-events: none;
}
.active{
  border-bottom: solid #53750F 2px;
}
.navbar-brand{
  transition: all 1s;
  color: #a00000 !important;
  font-size:30px !important;
  text-align: center;
  pointer-events: auto;
}
#languages{
  color: rgb(124, 4, 4);
  font-size: 20px;
}
#secondaryLanguages{
  transition: all 1s;
  color: rgb(124, 4, 4);
  font-size: 15px;
}
#lang{
  position: absolute;
  right: 20px;
  transition: all 1s;
  z-index: 100000;
}

#lang{
  color: rgb(12, 117, 216);
}
.en, .fr{
  display: none;
}


/*content*/
#content{
  font-family: 'Oswald', serif;
  background-color:white;
  width:100%;
  height:100vh;
  overflow-y:scroll;
  overflow-x:hidden;
}

/*abot section*/
#about{
  color:white;
  background-color: #002E2E;
}
#about:after {
    content: "";
    width: 100%;
    height: 1px;
    -webkit-box-shadow: 0px 0px 25px 25px #002E2E;
       -moz-box-shadow: 0px 0px 25px 25px #002E2E;
            box-shadow: 0px 0px 25px 25px #002E2E;
}
#aboutContent{
  font-size: 20px;
  margin-top:100px;
  padding:50px;
  text-align:center;
}
#me{
  margin: auto !important;
  width:100%;
  border-radius:50%;
}
#about i{
  margin-top:50px;
  font-size: 30px;
  color:white;
}
#about i:hover{
  color: grey;
}

/*projects section*/
#projects{
  text-align: center;
  padding: 50px;
  color:black;
  font-weight: bold !important;
  background-color: white;
  padding-bottom: 200px;
  min-height: 120vh;
}
#projects h1{
  margin-top: 20px;
  margin-bottom: 50px;
}
#projects img, #projects video, #projects .info{
  width: 100%;
}
#projects .img{
  margin-bottom: 50px;
}

#projects .info{
  display: table-cell;
  width: 100%;
  height:100%;
  background: rgba(255,0,0,0);
	position:absolute;
  padding: 20px;
	top: 0;
  left:0;
	-webkit-transition: all 500ms;
	-ms-transition: all 500ms;
	transition: all 500ms;
  color:rgba(67,67,67,0);
  font-size: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari*/
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
#projects .info:hover{
	background:rgba(159, 0, 0, 0.8);
  color: white;
}
#projects .infoContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 20px;
}


/*Form*/
form{
  width: 80%;
  color: white;
  text-align: center;
  position: fixed;
  top: 150%;
  left: 50%;
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index: 10000;
}
.form{
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*scrollbar*/
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #53750F;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
