.navbar-nav{
  transition: all 2s;
  pointer-events: auto !important;
}
.navbar-brand{
  font-size:30px !important;
}
#languages{
  font-size: 20px;
}
html, body {
  margin:0;
  padding:0;
  width: 100%;

}
.container{
  position:absolute;
  width: 100%;
  position:sticky !important;
  top:0px  !important;
}

.navbar{

  pointer-events: none !important;
}
/*body::-webkit-scrollbar {
  display: none;
    width: 12px;
}*/
::-webkit-scrollbar {
    width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.7);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,0,0,0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4);
}
